.main a {
	padding: 20px 30px;
	color: #777;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99999;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main a:hover {
	color: #222;
	text-decoration: none;
}
.cbp-spmenu {
    background: #2c3e50;
    position: fixed;
}
.cbp-spmenu h3 {
    color: #fff;
    padding: 10px 20px;
    margin: 0;
    font-weight: 300;
    background: #1abc9c;
}
.cbp-spmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}
.cbp-spmenu a:hover {
    background: #34495e;
	color: #fff;
}
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 99999;
}
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #34495e;
    padding: 1em;
}
.cbp-spmenu-left {
    left: -240px;
}
.cbp-spmenu-right {
    right: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.cbp-spmenu-push-toright {
    left: 240px;
}
.cbp-spmenu-push-toleft {
    left: -240px;
}
.cbp-icon-push-toleft {
    right: 240px!important;
}
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
